<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <h2>BEM VINDO!</h2>

    <h3>Agendamento - Opções:</h3>
    <ul>
        <li>
            <a href="/cadastrar/agendamento">Cadastrar</a>
        </li>
        <br>
        <li>
            <a href="/listar/agendamentos">Listar</a>
        </li>
        <br>
        <li>
            <a href="/pesquisar/agendamento">Pesquisar</a>
        </li>
    </ul>
    
</body>
</html>